.swiper-button-prev::after, .swiper-button-next::after {
    color: #F7DCED;
    font-weight: bolder;
    opacity: 70%;
}

.swiper-pagination-progressbar-fill {
    background-color: #F7DCED !important;
}

/* .swiper-pagination-bullet-active {
    background-color: #FF78B2 !important;
} */
.swiper-pagination-bullet {
    background-color: #FF78B2 !important;
}